<!--Sidebar allowing the user to navigate between the different sections of the application.-->

<div class="sticky top-0 h-screen">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="ms-3">Home</span>
        </a>
      </li>
      <li>
        <a href="#overview" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="flex-1 ms-3 whitespace-nowrap">Overview</span>
        </a>
      </li>
      <li>
        <a href="#how-they-work" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="flex-1 ms-3 whitespace-nowrap">How They Work</span>
        </a>
      </li>
      <li>
        <a href="#history" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="flex-1 ms-3 whitespace-nowrap">History</span></a>
      </li>
      <li>
        <a href="#implications" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="flex-1 ms-3 whitespace-nowrap">Implications</span>
        </a>
      </li>
    </ul>
  </div>
</div>
